tickTime={{ tick_time }}
dataDir={{ data_dir_path }}
clientPort=2181
initLimit={{ init_limit }}
syncLimit={{ sync_limit }}

{% set outer = namespace(hosts=[]) %}
{% if 'zookeepers' in group_names %}
{% set outer.hosts = groups['zookeepers'] %}
{% else %}
{% set outer.hosts = groups['all'] %}
{% endif %}


{% set current_host_index = outer.hosts.index(inventory_hostname) -%}
{% if current_host_index < 0 %}
{{ fail() }}
{% endif %}

{% for host in outer.hosts %}
server.{{ outer.hosts.index(host) }}={% if current_host_index == outer.hosts.index(host) %}0.0.0.0{% else %}{{ hostvars[host].inventory_hostname }}{% endif %}:2888:3888
{% endfor %}
